<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="profile.css" rel="stylesheet" type="text/css">
    <title>My Room</title>
</head>
<body>
<div class="container">
    <div class="main-body">
        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin"
                                 class="rounded-circle" width="150">
                            <div class="mt-3">
                                <h4 th:text="|${student.getName()} ${student.getLastname()}|">Full Name</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Full Name</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <h6 th:text="${student.getName()}">Full Name</h6>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Email</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">

                                <h6 th:text="${student.getEmail()}">Email</h6>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Year of birth</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <h6 th:text="${student.getYear()}">Year</h6>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Username</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <h6 th:text="${student.getUsername()}">Username</h6>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Group</h6>
                            </div>
                            <div th:if="${flag}">
                                <div class="col-md-auto ui-priority-secondary">
                                    <h6>Empty</h6>
                                </div>
                            </div>
                            <div th:if="${not flag}">
                                <div class="col-md-auto ui-priority-secondary">
                                    <h6 th:text="${student.getGroup().getName()}">Informational</h6>
                                </div>
                            </div>
                        </div>

                        <hr>

                        <div class="row">
                            <div class="col-sm-12">
                                <a class="btn btn-info " target="__blank"
                                   href="/edit">Edit</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row gutters-sm">
                    <div class="col-sm-6 mb-3">
                        <div class="card h-100">
                            <div class="card-body">
                                <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">My
                                    courses</i>List:</h6>
                                <div th:if="${subjects}">
                                    <h6>Empty</h6>
                                </div>
                                <div th:if="${not subjects}">
                                    <div th:each="subject:${mySubjects}">
                                        <small th:text="${subject.getName()}">subject</small>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

                <div class="row gutters-sm">
                    <div class="col-sm-6 mb-3">
                        <div class="card h-100">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <a class="btn btn-info " target="__blank"
                                           href="/enroll">Enroll to courses</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

            <div class="row gutters-sm">
                <div class="col-sm-6 mb-3">
                    <div class="card h-100">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <form th:action="@{/logout}" target="__blank" th:method="POST">
                                        <input type="submit" class="btn btn-danger" value="Logout"/>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
</div>
</body>
</html>